<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css%22%3E" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/258b4efd0d.js" crossorigin="anonymous"></script>
</head>

<body>
  <header id="head">
    <div class="uno">
      <div class="log">
        <img src="/img/logo-mercado-liebre.svg">
      </div>
      <div class="search">
        <input type="search" class="fondoblanco" placeholder="Buscar productos" button class="button-search"
          type="submit">
        <button class="button-search" type="submit"><i class="fa fa-search"></i></button>
      </div>
      <h2 class="manito">
        <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
      </h2>
    </div>
    <nav>
      <div class="Ofertas">
        <div class="izq">
          <ul>
            <li class="primerx">Ofertas</li>
            <li class="primerx">Tiendas Oficiales</li>
            <li class="primerx">Vender</li>
            <li class="primerx">Ayuda </li>
          </ul>
        </div>
        <div class="cuenta">
          <ul class="cuenta">
            <li class="primerx"><a href="/regis">Crea tu cuenta <i class="fas fa-user"></i></a></li>
            <li class="primerx"><a href="/log">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li class="primerx"><a href="/carrito">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="bloque">
        <p class="burger-menu"><i class="fas fa-bars"></i></p>
      </div>
      <div class="cabeza">
        <img src="/img/img-home-banner.jpg" class="fotohead">
      </div>
    </nav>
  </header>

  <main class="register">
    <form action="/" method="get">
      <h4>Nombre</h4>
      <div class="nombres">
        <input type="text" class="lastclass" placeholder="Nombre completo">
        <input type="text" class="lastclass" placeholder="Nombre de su usuario">

        <br>
        <label><b>Fecha de nacimiento</b></label>
        <br>
        <input type="date" class="lastclass">
        <input type="text" class="lastclass" placeholder="Domicilio">
      </div>
      <br>
      <h4>Perfil del usuario</h4>
      <br>
      <div class="profile">
        <input type="radio" name="asd" value="1">
        <label for="buy">Comprador</label>
        <input type="radio" name="asd" value="2">
        <label for="sell">Vendedor</label>
      </div>

      <br>
      <h4>Intereses</h4>
      <br>
      <div>
        <input type="checkbox" p class="aloja"> Electro</p>
      </div>
      <div>
        <input type="checkbox" p class="aloja"> Moda</p>
      </div>
      <input type="checkbox" p class="aloja"> Hogar</p>
      </div>
      <div>
        <input type="checkbox" p class="aloja"> Juguetería</p>
      </div>
      <div>
        <input type="checkbox" p class="aloja"> vida sana</p>
      </div>
      </div>
      <br>
      <h2>Imagen de usuario</h2>
      <br>
      <input type="file">
      <br>
      <br>
      <div class="password">
        <input type="password" placeholder="Elija su contraseña" class="lastclass">
        <input type="password" placeholder="Confirme su contraseña" class="lastclass">
      </div>
      <a href="/"><button type="submit" class="button">Registrarse</button></a>
      <button type="reset" class="button">Cancelar</button>
    </form>
  </main>
  <footer id="futer">
    <div class="futer">
      <section class="txt">
        <div class="icono">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="iconfoot" height="20px" fill="#4b0202">
            <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M168 336C181.3 336 192 346.7 192 360C192 373.3 181.3 384 168 384H120C106.7 384 96 373.3 96 360C96 346.7 106.7 336 120 336H168zM360 336C373.3 336 384 346.7 384 360C384 373.3 373.3 384 360 384H248C234.7 384 224 373.3 224 360C224 346.7 234.7 336 248 336H360zM512 32C547.3 32 576 60.65 576 96V416C576 451.3 547.3 480 512 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H512zM512 80H64C55.16 80 48 87.16 48 96V128H528V96C528 87.16 520.8 80 512 80zM528 224H48V416C48 424.8 55.16 432 64 432H512C520.8 432 528 424.8 528 416V224z" />
          </svg>
        </div>
        <div>
          <h4>PAGÁ CON TARJETA O EFECTIVO</h4>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
            siempre
            es seguro!</p>
        </div>
      </section>
      <section class="txt">
        <div class="icono">
          <i class="fas fa-gift"></i>
        </div>
        <div>
          <p>Envío gratis a partir de $2.500</p>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
            beneficio
            de Mercado Puntos.</p>
        </div>
      </section>
      <section class="txt">
        <div class="icono">
          <i class="fas fa-user-shield"></i>
        </div>
        <p>

          SEGURIDAD, DE PRINCIPIO A FIN

        </p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
        protegid@.
        </p>
    </div>
    </section>
    </div>
    <section>
      <div class="what">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </section>
  </footer>
</body>

</html>